@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    color: white;
    line-height: 1.7;
    overflow-x: hidden;
}

section {
    padding: 100px 5%;
    position: relative;
}

.glass {
    /* background:  rgba(255, 255, 255, 0.048); */
    background: hsl(220 18% 10% / .7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid  rgba(255, 255, 255, 0.048);
    /* border-radius: 25px; */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1500px;
    padding: 10px 30px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    color: orange;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navlist {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navlist li a {
    position: relative;
    color: rgba(255, 255, 255, 0.637);
    letter-spacing: 0.25px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding: 2.5px 5px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.navlist li a:hover {
    color: white;
}

.navlist li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: orange;
    left: 0;
    bottom: -8px;
    transform: scaleX(0);
    transition: 0.3s;
}

.navlist li a:hover::after {
    transform: scaleX(1);
}

.hire-btn {
    color: black;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    background-color: #FA8938;
    text-decoration: none;
    border-radius: 16px;
    padding: 13px 25px;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.2s;
}

.hire-btn:hover {
    background-color: rgba(255, 166, 0, 0.918);
}

/* MAIN CONTENT */

/* Hero */
.hero {
    height: 100vh;
    padding: 32px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top,
            rgba(255, 165, 0, 0.15) 25%,
            transparent 90%);
    z-index: -1;
}

.hero-container {
    margin: 0 173px;
    padding: 80px 32px;
}

.hero-content {
  max-width: 768px;   
  margin-left: auto; 
  margin-right: auto; 
  text-align: center; 
}
.status-available {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: hsla(220, 18%, 10%, 0.781);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px;
    margin-bottom: 32px;
}

.status-available span {
    width: 0.4rem;
    height: 0.4rem;
    background: greenyellow;
    border-radius: 50%;
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}
.status-available p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.637);
}
/* Pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(173, 255, 47, 0.7);
        opacity: 1;
    }
    70% {
        transform: scale(1.2);
        box-shadow: 0 0 0 10px rgba(173, 255, 47, 0);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(173, 255, 47, 0);
        opacity: 1;
    }
}

.hero-text {
    font-size: clamp(3rem, 6vw, 5rem);
    line-height: 1.1;
    margin-bottom: 24px;
}

.hero-text span {
    color: orange;
}

.hero-paragraph {
    font-size: 1.2rem;   
    font-weight: 500;
    font-family: sans-serif;
    color: #6b7280;          
    margin-bottom: 2rem;      /* mb-8 (32px) */
    max-width: 42rem;         /* max-w-2xl (672px) */
    margin-bottom: 32px;
    margin-left: 5px;
    margin-right: 5px;
}
@media (min-width: 640px) {
    .text-block {
        font-size: 1.25rem;   /* text-xl (20px) */
    }
}

.hero-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}
@media (min-width: 640px) {
    .flex-wrapper {
        flex-direction: row;       /* sm:flex-row */
    }
}

.hero-btn .pri-btn{
    padding: 12px 24px;
    background: #FA8938;
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
}
.hero-btn .sec-btn {
    padding: 12px 24px;
    background: transparent;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: center;
    border: 1px solid hsl(220 15% 18%);
    border-radius: 15px;
    transition: 0.3s ease;
}
.hero-btn .sec-btn:hover {
    color: #FA8938;
    border: 1px solid #FA8938;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons a i{
    padding: 12px; 
    border-radius: 12px; 
    font-size: 22px;
    background-color: hsl(220 15% 15%); 
    color: hsl(0 0% 98%); 
    display: inline; 
    cursor: pointer;
    text-decoration: none;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.social-icons a i:hover {
    background-color: hsl(25 95% 60%); 
    color: hsl(220 20% 6%); 
}

.arrow-down-container {
    position: absolute;
    bottom: 2rem; /* bottom-8 */
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}


.arrow-down-svg svg {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
} 

.arrow-down-svg {
    width: 24px;
    height: 24px;
}

.arrow-down-svg svg {
    fill: rgba(255, 255, 255, 0.363);
    width: 100%;
    height: 100%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(8px); }
  60% { transform: translateY(4px); }
}

/* ABOUT-SECTION */
.about-section {
    padding: 2.5rem 0;
}
.about-container {
    padding: 0 32px;
}
.about-img {
    margin-bottom: 8px;
}
.about-img img {
     width: 12rem;                    
    height: 12rem;                   
    border-radius: 50%;              
    margin-left: auto;               
    margin-right: auto;
    border: 4px solid hsl(25 95% 60%); 
    object-fit: cover;               
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
                0 4px 6px -4px rgba(0,0,0,0.1); 
    display: block;      
}
.about-text {
    max-width: 48rem;
    margin: 0 auto;
    text-align: center;
}
.about-text .about-title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.3rem;    
    font-weight: 700;       
    margin-bottom: 1.5rem;
}
.about-title span {
    color: #FA8938;
}

.about-paragraph {
    color: #6b7280;
    font-size: 1.2rem;
    font-weight: 500;
}
.about-paragraph span {
    color: #FA8938;
}